@import url('./basic.css');
/* Grid System */
@media (max-width: 767px) {
    .c-0{
        display:none;
    }
    .c-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .c-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row{
        margin-left: -4px;
        margin-right: -4px;
    }
    .col{
        padding-left: 4px;
        padding-right: 4px;
    }
    /* Header */
    .nav-container nav {
        display: flex;
        justify-content: flex-end;
        padding: 0 25px 0 0;
    }
    .internal-link{
        display: none;
    }
    #bars{
        width: 1em;
        height: 1em;
    }
    .nav-mobile{
        width: 200px;
        height: 100vh;
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        padding: 20px 20px;
        transform: translateX(100%);
        transition: transform .3s ease-in-out;
    }
    .overlay{
        display: none;
    }
    .close-button{
        width:30px;
        height:30px;
        position: absolute;
        top: 10px;
        right: 20px;
        
    }
    .nav-mobile-links{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 0 0 0;
    }
    .internal-link-mobile{
        text-align:start;

        
    }
/* Main */
    /* Description */
    .short-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap:30px;
        h1{
            text-align: center;
        }
    }
    .description{
        padding: 10px ;
        text-align: center;
    }
    .view-project-button{
        padding: 10px 10px;
        background-color: var(--sub-color);
        border-radius: 5px;
    }
    /* Project */
     .project-title{
        font-size: 50px;
        text-align: center;
        margin-bottom: 30px;
    }
    .project-container{
        gap: 40px;
        padding: 0 30px;
    }
    .pj-card{
        background-color: #fff;
        color: var(--sub-font-color);
        border-radius: 10px;
        padding: 20px;
        
    }
    .pj-card:hover{
        color: var(--sub-font-color);
        text-shadow: 
            .1px .1px rgba(0,0,0,0.5), 
            .2px .2px rgba(0,0,0,0.5), 
            .3px .3px rgba(0,0,0,0.5), 
            .4px .4px rgba(0,0,0,0.5);
    }
    .pj-name{
        align-items: center;
        gap: 20px;
    }
    .pj-name h2{
        width: 50%;
    }
    /* Contact */
    .contact-title{
        font-size: 50px;
        text-align: center;
        margin-bottom: 30px;
    }
    .contact-container{
        padding: 30px;
    }
    .contact-container form{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        background-color: var(--main-color);
        border-radius: 7px;
        color: var(--sub-font-color);
    }
    .contact-container form input{
        border: none;
    }

}
