@import url('./basic.css');
/* PC */
@media (min-width: 768px) {
    .l-0,
    .l-2,
    .l-3,
    .l-4,
    .l-6,
    .l-12{
        display: block;
    }
    .l-0{
        display:none;
    }
    .l-2{
            flex: 0 0 16.6667%;
            max-width: 16.6667%;
    }
    .l-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .l-4{
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .l-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .l-12{
        flex: 0 0 100%;
        max-width: 100%;
    }

    
    .grid{
        max-width: 1200px;
    }
    .row{
        margin-left: -12px;
        margin-right: -12px;
    }
    .col{
        padding-left: 12px;
        padding-right: 12px;
    }
    /* Header */
    header{
        padding: 20px 0;
    }
    
    .nav-desktop{
        display: flex;
        justify-content: space-between;
    }
    #bars{
        display: none;
    }
    .nav-mobile{
        display: none;
    }

    /* Main */
    .short-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        h1{
            text-align: center;
        }

    }
    .view-project-button{
        padding: 10px 10px;
        background-color: var(--sub-color);
        border-radius: 5px;
    }
    .project{
        align-content: center;
    }
    .project-title{
        font-size: 50px;
        text-align: center;
        margin-bottom: 30px;
    }
     .project-container{
        gap: 20px;
    }
    .pj-card{
        max-width: 380px;
        background-color: #fff;
        color: var(--sub-font-color);
        border-radius: 10px;     
        padding: 10px;
    }
    .pj-card:hover{
        color: var(--sub-font-color);
        text-shadow: 
            .1px .1px rgba(0,0,0,0.5), 
            .2px .2px rgba(0,0,0,0.5), 
            .3px .3px rgba(0,0,0,0.5), 
            .4px .4px rgba(0,0,0,0.5);
    }
    .pj-name{
        display: flex;
        align-items: center;
        gap: 20px;
    }
     .pj-name h2{
        width: 50%;
    }
    /* Contact */
     .contact-title{
        font-size: 50px;
        text-align: center;
        margin-bottom: 30px;
    }
    .contact-container{
        justify-content: center;
        justify-items: center;
        padding: 30px;
    }
    .contact-container form{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        background-color: var(--main-color);
        border-radius: 7px;
        color: var(--sub-font-color);
    }
    .contact-container form input{
        border: none;
    }
}
@media (min-width: 768px ) and (max-width: 1200px) {
    .grid{
        max-width: 644px;
    }
}